## Requirements needed to run the server and the client

# socket
# hashlib
# os
# threading
# sys
# time
# logging
# random
# re
# uuid

## ALL OF THEM ARE INCLUDED IN THE PYTHON'S STANDARD LIBRARY

